<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.katsunobu.iobrushmr">
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="horizonos.permission.HEADSET_CAMERA"/>
  <application android:label="IOBrush MR" />
</manifest>
